In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("population.csv")

In [3]:
df

   Rank        City  Population 2020  Population 2021  Difference
0     1     Karachi            16.09            16.46        0.37
1     2      Lahore            12.64            13.10        0.45
2     3  Faisalabad             3.46             3.54        0.08
3     4  Gujranwala             2.23             2.29        0.06
4     5  Rawalpindi             2.24             2.28        0.00

In [5]:
df2 = pd.read_csv("pop_province.csv")

In [6]:
df2

   Year  Balochistan    KPK  Punjab  Sindh
0  1972         2.42   8.38   37.60  14.15
1  1981         4.33  11.06   47.29  14.15
2  1998         6.56  17.74   73.62  19.02
3  2017        12.33  30.50  109.98  30.43

In [9]:
df2['Year'].to_list()

[1972, 1981, 1998, 2017]

In [15]:
data = ['Year','Balochistan','KPK', 'Punjab', 'Sindh']

In [35]:
z=''
for items in data:
    x = items
    y = df2[items].to_list()
    z = z+f'''{x}:{y}, '''

In [36]:
print(z)

Year:[1972, 1981, 1998, 2017], Balochistan:[2.42, 4.33, 6.56, 12.33], KPK:[8.38, 11.06, 17.74, 30.5], Punjab:[37.6, 47.29, 73.62, 109.98], Sindh:[14.15, 14.15, 19.02, 30.43],